<%- include("partials/header") -%>

<h1>Home</h1>
<p>
  <%= homeContent %>
</p>

<% posts.forEach(post => { %>
<h1>
  <%= post.title %>
</h1>
<p>
  <%= truncate(post.content, {"length": 104, "omission": " ..."}) %>
</p>
<form action="/posts/<%= post._id %>" method="post">
  <button class="btn btn-primary btn-sm" type="submit">Read More</button>
</form>
<% }); %>

<%- include("partials/footer") -%>